! *startcolors*

! scheme: tonerlow
! author: Flo Eberle

#define base00 #2e313d
#define base01 #4B4D63
#define base02 #323343
#define base03 #62738A
#define base04 #8296b0
#define base05 #B5B4C9
#define base06 #BEBED0
#define base07 #737996
#define base08 #5b5f71
#define base09 #AE81FF
#define base0A #DB6DAF
#define base0B #898599
#define base0C #a0b9d8
#define base0D #c6aed7
#define base0E #7dc2c7
#define base0F #f0ecfe

! *endcolors*

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
